'use strict'

class {{name}} {
    constructor (  request, response, auth ) {
        this.request = request
        this.response = response
        this.auth = auth
    }

  
}
module.exports = {{ name }}