@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 636px;
  margin: auto;
  position: relative;
}

section:before {
  content: "";
  position: absolute;
  background-size: 100%;
  width: 100%;
  height: 402px;
  z-index: -1;
}

.title {
  height: 36px;
	font-size: 48px;
  background-size: 100%;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

.subtitle {
  margin-top: 40px;
  color: #ADA3CB;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

@media screen and (max-width: 540px) {
		.title {
				text-align: center;
		}
		
		.subtitle {				
				margin-top: 80px;
		}
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
