<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-------------------------------
  ___  _   _    _            
 /   || | | |  | |           
 \__  | | | |  | |  __       
 /    |/  |/_) |/  /  \_/\/  
 \___/|__/| \_/|__/\__/  /\_/
               |\            
               |/            

Cam @ Elkfox.com
http://timeshoppy.com
-------------------------------->

<!-------------------------------

NOTES:

-------------------------------->

<head>
    <meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Order Confirmed</title>

    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->
    <style>
        /* ------------------------------------- 
			GLOBAL 
	------------------------------------- */
        * {
            margin: 0;
            padding: 0;
        }

        * {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        }

        img {
            max-width: 100%;
        }

        .collapse {
            margin: 0;
            padding: 0;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
        }


        /* ------------------------------------- 
			ELEMENTS 
	------------------------------------- */
        a {
            color: #2BA6CB;
        }

        .btn {
            text-decoration: none;
            color: #FFF;
            background-color: orangered;
            width: 80%;
            padding: 15px 10%;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            display: inline-block;
        }

        p.callout {
            padding: 15px;
            text-align: center;
            background-color: #ECF8FF;
            margin-bottom: 15px;
        }

        .callout a {
            font-weight: bold;
            color: #2BA6CB;
        }

        .column table {
            width: 100%;
        }

        .column {
            width: 300px;
            float: left;
        }

        .column tr td {
            padding: 15px;
        }

        .column-wrap {
            padding: 0 !important;
            margin: 0 auto;
            max-width: 600px !important;
        }

        .columns .column {
            width: 280px;
            min-width: 279px;
            float: left;
        }

        table.columns,
        table.column,
        .columns .column tr,
        .columns .column td {
            padding: 0;
            margin: 0;
            border: 0;
            border-collapse: collapse;
        }

        /* ------------------------------------- 
			HEADER 
	------------------------------------- */
        table.head-wrap {
            width: 100%;
        }

        .header.container table td.logo {
            padding: 15px;
        }

        .header.container table td.label {
            padding: 15px;
            padding-left: 0px;
        }


        /* ------------------------------------- 
			BODY 
	------------------------------------- */
        table.body-wrap {
            width: 100%;
        }


        /* ------------------------------------- 
			FOOTER 
	------------------------------------- */
        table.footer-wrap {
            width: 100%;
            clear: both !important;
        }

        .footer-wrap .container td.content p {
            border-top: 1px solid rgb(215, 215, 215);
            padding-top: 15px;
        }

        .footer-wrap .container td.content p {
            font-size: 10px;
            font-weight: bold;

        }


        /* ------------------------------------- 
			TYPOGRAPHY 
	------------------------------------- */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            margin-bottom: 15px;
            color: #000;
        }

        h1 small,
        h2 small,
        h3 small,
        h4 small,
        h5 small,
        h6 small {
            font-size: 60%;
            color: #6f6f6f;
            line-height: 0;
            text-transform: none;
        }

        h1 {
            font-weight: 200;
            font-size: 44px;
        }

        h2 {
            font-weight: 200;
            font-size: 37px;
        }

        h3 {
            font-weight: 500;
            font-size: 27px;
        }

        h4 {
            font-weight: 500;
            font-size: 23px;
        }

        h5 {
            font-weight: 900;
            font-size: 17px;
        }

        h6 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            color: #444;
        }

        .collapse {
            margin: 0 !important;
        }

        p,
        ul {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.6;
        }

        p.lead {
            font-size: 17px;
        }

        p.last {
            margin-bottom: 0px;
        }

        ul li {
            margin-left: 5px;
            list-style-position: inside;
        }

        hr {
            border: 0;
            height: 0;
            border-top: 1px dotted rgba(0, 0, 0, 0.1);
            border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
        }


        /* ------------------------------------- 
			Shopify
	------------------------------------- */

        .products {
            width: 100%;
            height: 40px;
            margin: 10px 0 10px 0;
        }

        .products img {
            float: left;
            height: 40px;
            width: auto;
            margin-right: 20px;
        }

        .products span {
            font-size: 17px;
        }


        /* --------------------------------------------------- 
			RESPONSIVENESS
			Nuke it from orbit. It's the only way to be sure. 
	------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            display: block !important;
            max-width: 600px !important;
            margin: 0 auto !important;
            /* makes it centered */
            clear: both !important;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            padding: 15px;
            max-width: 600px;
            margin: 0 auto;
            display: block;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table {
            width: 100%;
        }

        .item-title {
            font-size: 16px;
            font-weight: bold;
            color: #262a2d
        }

        .item-price {
            font-size: 12px;
            color: #272727
        }

        /* Be sure to place a .clear element after each set of columns, just to be safe */
        .clear {
            display: block;
            clear: both;
        }


        /* ------------------------------------------- 
			PHONE
			For clients that support media queries.
			Nothing fancy. 
	-------------------------------------------- */
        @media only screen and (max-width: 600px) {

            a[class="btn"] {
                display: block !important;
                margin-bottom: 10px !important;
                background-image: none !important;
                margin-right: 0 !important;
            }

            div[class="column"] {
                width: auto !important;
                float: none !important;
            }

            table.social div[class="column"] {
                width: auto !important;
            }

        }
    </style>

</head>

<body bgcolor="#FFFFFF">

    <!-- HEADER -->
    <table class="head-wrap" bgcolor="#eee">
        <tr>
            <td></td>
            <td class="header container">

                <div class="content">
                    <table bgcolor="#eee">
                        <tr>
                            <td>
                                <a href="shop" title="shop name" alt="logo"
                                    style="width:70px; color: #fff; font-size: 25px;height:auto;" />
                                <a href="timeshoppy.com"><img src="https://timeshoppy.com/assets/images/icon/logo.jpeg"
                                        alt=""></a></a>
                            </td>
                            <td align="right">
                                <h6 class="collapse">Order Confirmed</h6>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td></td>
        </tr>
    </table><!-- /HEADER -->


    <!-- BODY -->
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">

                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <br />
                                <h3>Thanks {{order_details.order_notification.buyer_details.profile.first_name}}, </h3>

                                <!-- You may like to include a Hero Image -->
                                <!-- <p><img src="https://i.ibb.co/HxNSfn7/7-Best-Practices-for-an-e-Commerce-Thank-You-Pages-Banner-1.jpg"
                                        alt="" /></p> -->
                                <!-- /Hero Image -->

                                <br />

                                <h4>Your Order {{ placement_code }} <small>placed {{date}}</small></h4>
                                <p>Thank you for placing your order with timeshoppy. This email is to confirm your
                                    order has been placed successfully, and will be processed & shipped to you soon by
                                    the seller.</p>
                                <br />

                                <!-- Line Items -->
                                <!--for each -->
                                @each(item in order_details.order_notification.order_items)
                                <div class="products">

                                    <img src="{{item.main_product_images[0].image_url}}" />
                                    <span class="item-title"> {{item.product_name}} </span> <br />
                                    <span class="item-price">₦ {{item.price - (item.price * (item.discount / 100))}} ({{item.pivot.qty}} piece) </span>

                                </div>
                                <hr>
                                <div style=" clear:both;"></div>
                                @endeach
                                <br />
                                <br />

                                <!-- Totals -->
                                <h5><b>Subtotal:</b> ₦ {{sub_total  }}</h5>

                                <!-- Totals -->
                                <table class="columns" width="100%">
                                    <tr>
                                        <td>
                                            <!--- column 1 -->
                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <p><b>Shipping:</b> ₦ {{shipping_fee}}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- /column 1 -->

                                            <!--- column 2 -->

                                            <!-- /column 2 -->

                                            <!-- /Discounts -->

                                            <span class="clear"></span>

                                        </td>
                                    </tr>
                                </table>
                                <!-- /Totals -->
                                <!-- foreach -->

                                <br />

                                <p><b>Service Charge </b>₦ {{  service_charge}}</p>
                                <br />

                                <h4><b>Total: ₦ {{total}}}</b></h4>
                                <!-- /Totals -->

                                <br />

                                <!-- address detals -->
                                <table class="columns" width="100%">
                                    <tr>
                                        <td>

                                            <!--- column 1 -->
                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <h5 class="">Shipping address</h5>
                                                        <p class="">
                                                            {{order_details.order_notification.order_address[0].address}}<br />
                                                            {{order_details.order_notification.order_address[0].province.province_label}}<br />
                                                            {{order_details.order_notification.order_address[0].state.state_label}}<br />
                                                            {{order_details.order_notification.order_address[0].country_code.name}}
                                                        </p>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>

                                            <!-- /column 1 -->

                                            <table align="left" class="column">
                                                <tr>
                                                    <td>
                                                        <h5 class="">Sellers Details</h5>
                                                        <p class="">
                                                            {{order_details.order_notification.seller_details.profile.first_name}}
                                                            {{order_details.order_notification.seller_details.profile.last_name}}
                                                            <br />
                                                            0{{order_details.order_notification.seller_details.phone_number}}<br />
                                                            {{shop.shop_name}}<br />

                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>


                                            <!--- column 2 -->

                                            <!-- /column 2 -->



                                        </td>
                                    </tr>
                                </table>
                                <!-- /address details -->

                                <br />

                                <p style="text-align:center;">
                                    <a class="btn" href="http://timeshoppy.com/login">Log in
                                        to view your
                                        order &raquo;</a>
                                </p>

                                <br />



                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td></td>
        </tr>
    </table>
    <!-- /BODY -->

    <!-- FOOTER -->
    <table class="footer-wrap" bgcolor="#eee">
        <tr>
            <td></td>
            <td class="container">

                <!-- content -->
                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>Thank you for shopping at <a href="timeshpoppy.com"
                                        style="color:#111111;">timeshoppy.com</a></p>
                                <a href="" title="shop name"><img
                                        src="https://timeshoppy.com/assets/images/icon/logo.jpeg"
                                        style="width:40px;height:auto;" alt="name" /></a>
                                <br /><br />
                                <p><strong><a href="" style="color:#111111;">support@timeshoppy.com</a></strong></p>
                                <p><small>© Timeshoppy</small></p>
                            </td>
                        </tr>
                    </table>
                </div><!-- /content -->

            </td>
            <td></td>
        </tr>
    </table><!-- /FOOTER -->

</body>

</html>